@import "../../../styles/styles.scss";
.advertisment {
  padding: 8rem 0;
  background-color: #f1f1f1;
  &-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
    &-box {
      padding: 2rem 4rem;
      display: flex;
      box-shadow: $box-shadow;
      background-color: white;
      h3 {
        padding: 1rem 2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .advertisment-main {
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  }
}
