.notify {
  padding-top: 18rem;
  margin-bottom: 7rem;
  h2 {
    font-size: 2.8rem;
    color: #3161ad;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
  }
  p {
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #3161ad;
    text-align: center;
    text-transform: capitalize;
  }
}
