.About {
  padding: 5rem 0;
  background-color: #f1f1f1;
  &-main {
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    &-box {
      display: flex;
      width: 45%;
    }
    &-appdown {
      width: 50%;
      height: 30rem;
      background: url("../../../assets/about/downapp.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 0.5rem;
    }
  }
}

.slick-next {
  right: -25px;
}
.slick-prev {
  left: -25px;
}

.slick-next,
.slick-prev {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-next::before,
.slick-prev::before {
  color: #12a58b;
  opacity: 0.5;
  font-size: 3.5rem;
}

@media screen and (max-width: 768px) {
  .About-main-box {
    width: 100%;
  }
  .About-main-appdown {
    width: 100%;
    margin: 2rem 0;
  }
}
